html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.rbox{
    border: dashed 1px red;
}
.gbox{
    border: dashed 1px green;
}
.blbox{
    border: dashed 1px blue;
}
.bbox{
    border: dashed 1px black;
}
.nomadnopad{
    margin: 0;
    padding: 0;
}
.askbox{
    display:inline-block;
    border: solid 1px rgba(0, 0, 0, 0.15);
    margin: 1px;
    border-radius: 10px;
}
.insideBox{
    display:inline-block;
    vertical-align:top;
}
.leftLine{
    padding: 2%;
    border-left: solid 1px rgba(0, 0, 0, 0.15);
}
.calidadTotal {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.calidadTotal:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.calidadTotal::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.calidadTotal:-ms-input-placeholder {
    color: #999;
}
.calidadTotal::-webkit-input-placeholder {
    color: #999;
}
.calidadTotal[disabled],
.calidadTotal[readonly],
fieldset[disabled] .calidadTotal {
    background-color: #eee;
    opacity: 1;
}
.calidadTotal[disabled],
fieldset[disabled] .calidadTotal {
    cursor: not-allowed;
}
textarea.calidadTotal {
    height: auto;
}
.h2tag{
    text-align: center;
}
.analista, .analistas-form{
    background-color: #F0F0F0;
    border-radius: 15px;
}
.analistas-form{
    padding: 3%;
}